@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom-card {
  transition: transform 0.3s ease-in-out;
}

.zoom-card:hover {
  transform: scale(1.1);
}

.logoContainer {
  height: 40px;
  width: auto;
}

.logoImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

:root {
  background-color: #242a32;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242a32;
  }
}

.fixed-appbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
